[submodule "tailwindcss"]
	path = docs/tailwindcss
	url = git@github.com:tailwindlabs/tailwindcss.com.git
[submodule "filament"]
	path = docs/filament
	url = git@github.com:filamentphp/filament.git
[submodule "laravel"]
	path = docs/laravel
	url = git@github.com:laravel/docs.git
[submodule "mdn"]
	path = docs/mdn
	url = git@github.com:mdn/content.git
